@import url(./utils/layout.css);
@import url(./utils/typography.css);
@import url(./utils/colors.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Lora&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s all ease-in-out;
}

.heroImg {
    background-image: url('./assets/heroImg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    overflow: auto;
}

.title {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title h1 {
    z-index: 1;
}

.title:before {
    content: '';
    width: 400px;
    height: 60px;
    opacity: 50%;
    position: absolute;
    background: rgba(190, 61, 49, 0.75);
    transform: translate(-40%, -1em);
}

.title:after {
    content: '';
    width: 400px;
    height: 60px;
    opacity: 50%;
    position: absolute;
    background: rgba(54, 98, 207, 0.75);
    transform: translate(40%, 1em);
}

.scrollIndicator {
    text-align: center;
    margin-top: 2em;
}

.visNar {
    position: relative;
}

.narrationWrapper {
    position: absolute;
    padding: 1em;
}

.narrationWrapperL {
    width: 100%;
}

.narrationWrapperM {
    width: 83%;
}

.narrationWrapperS {
    width: 66%;
}

.narrationWrapperLeft {
    right: 0;
}

.narrationWrapperRight {
    left: 0;
}