body {
    --utzon: #d55246;
    --gehry: #4d79e7;
    --bg: #1d232f;
    --bg-dark: #0C111B;
    color: #aab4b8;
    background-color: var(--bg);
}

a {
    color: #8FD1F6;
}

header {
    color: white;
}

footer {
    color: #839AAE;
    background: var(--bg-dark);
}

footer h3 {
    color: #BEC6CE;
}

.heroImg section {
    width: 100%;
    background: #02081299;
    backdrop-filter: blur(2px);
}

.exposition {
    color: rgb(242, 242, 242);
}

.utzon {
    --color: var(--utzon);
}

.gehry {
    --color: var(--gehry);
}

.narrative h2 {
    color: var(--color);
}

.narrative h3 {
    color: var(--color);
}

.narrationWrapper {
    background: rgba(0, 0, 0, 0.75);
}

.gehry .narrationWrapper {
    border-left: 4px solid var(--color);
}

.utzon .narrationWrapper {
    border-right: 4px solid var(--color);
}

svg .utzon,
svg .gehry {
    fill: var(--color);
    stroke: var(--color);
}