:root {
    font-size: 16px;
}

body {
    font-family: 'Lora', serif;
    font-weight: lighter;
}

h1 {
    font-size: 3rem;
    letter-spacing: 0.15rem;
    font-weight: 400;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

q,
blockquote {
    font-style: italic;
}

blockquote {
    font-size: 1.15em;
    letter-spacing: 0.04em;
    position: relative;
    padding: 1em 0 0 1.5em;
    color: rgb(250, 250, 230);
}

blockquote::before {
    content: '\201C';
    font-size: 2.5em;
    opacity: 0.75;
    position: absolute;
    left: -1rem;
}

blockquote::after {
    content: '\201D';
    font-size: 2.5em;
    opacity: 0.65;
    position: absolute;
    right: 0rem;
    bottom: 0;
}

nav {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0.75em 1.25em;
    letter-spacing: 0.1em;
}

footer {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 0.85rem;
}

footer li {
    margin-bottom: 0.75em;
    line-height: 1.3em;
}

footer h3 {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    padding: 1.5em 1em;
}

.exposition {
    font-size: 1.5rem;
    line-height: 1.5em;
    padding: 3rem 0;
}

.dropCap::first-letter {
    initial-letter: 3;
    /* Fallback */
    padding: 0.1em 0.1em 0 0;
    font-size: 5em;
    float: left;
    line-height: 0.85em;
}

.exposition p:not(:first-child),
.narrationWrapper p:not(:first-child) {
    margin-top: 1em;
}

.narrative h2 {
    font-size: 1.5rem;
}

.narrative h3 {
    font-size: 1.125rem;
    margin-bottom: 1em;
}

.narrative p {
    line-height: 1.75em;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }
}